<nav class="navbar navbar-expand-sm" style="background-color: #337AB7;">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img src="https://dashboard.volvmedia.com/assets/imgs/Volv%20-%20V.png" width="100" style="border-radius: 50px;" alt="Volv Logo">
    </a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://dashboard.volvmedia.com/myDashboard" style="color: #fff;"><i class="fa fa-dashboard"></i>&nbsp;My Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://dashboard.volvmedia.com/getRssFeed" style="color: #fff;"><i class="fa fa-rss"></i>&nbsp;News RSS Feed</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://dashboard.volvmedia.com/summarizer" style="color: #fff;">Summarizer</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" style="color: #fff;" id="navbardrop" data-toggle="dropdown">
          All Articles
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/allDashboard">All Articles</a>
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/publishedArticles">Published</a>
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/inProgressArticles">In Progress</a>
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/needsReviewArticles">Needs Review</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://dashboard.volvmedia.com/create_user" style="color: #fff;"><i class="fa fa-users"></i>&nbsp;Users</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://dashboard.volvmedia.com/show_category" style="color: #fff;"><i class="fa fa-list"></i>&nbsp;Categories</a>
      </li>


      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" style="color: #fff;" id="navbardrop" data-toggle="dropdown">
          Reports
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/goToArticleReports">Article Reports</a>
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/publishedArticles">Poll Reports</a>
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/notificatin_report">Notification Reports</a>
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/weekend_schedule_report">Weekend Articles Reports</a>
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/getRefferalDetails">Referral Reports</a>
        </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" style="color: #fff;" id="navbardrop" data-toggle="dropdown">
          Volv App Data
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/volv_app_users">App Users</a>
          <a class="dropdown-item" href="https://dashboard.volvmedia.com/getlastWeeksUserData">Last Weeks Data</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://tech.volvmedia.com/" style="color: #fff;"><i class="fa fa-bell"></i>&nbsp;Notifications</a>
      </li>


    </ul>
  </nav>